<template>
  <div>
    <input
      class="form-control form-control-sm"
      min="0"
      type="number"
      placeholder="123456789"
      v-model="dni"
      required
      @keydown="handleSearch"
    />
    <span class="text-danger small" id="dniEnUso" style="display: none"
      >El DNI ingresado esta en uso</span
    >
  </div>
</template>

<script>
export default {
  name: "buscador-dni",
  data() {
    return {
      dni: "",
      answer: "",
    };
  },
  methods: {
    searchDni: function () {
      window.axios
        .get("/clients/searchDni", { params: { searchDni: this.dni } })
        .then((res) => {
          this.answer = res.data;
          if (this.answer === true) {
            document.getElementById("dniEnUso").style.display = "";
          } else {
            document.getElementById("dniEnUso").style.display = "none";
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    handleSearch: _.debounce(function () {
      this.searchDni();
      console.log(this.answer);
    }, 200),
  },
};
</script>

<style>
</style>