<template>
  <div class="row col-12" style="padding-left: 0px">
    <v-select
      required
      @search="handleSearch"
      :options="countries ? countries : null"
      label="name"
      v-model="selectedCountry"
      placeholder="Seleccion de un Pais"
      class="col-7"
      style="width: 200px; padding: 0"
    >
    </v-select>
    <button
      type="button"
      class="btn btn-info btn-sm col-2"
      style="margin-left: 10px"
    >
      +
    </button>
    <button
      type="button"
      class="btn btn-danger btn-sm col-2"
      style="margin-left: 0px"
    >
      -
    </button>
    <div class="valid-feedback">Todo ok!</div>
    <div class="invalid-feedback">Debes ingresar un Pais</div>
  </div>
</template>

<script>
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
/* import { debounce } from "lodash"; */
export default {
  name: "buscador-pais",
  components: {
    vSelect,
  },
  data() {
    return {
      countries: [],
      selectedCountry: "",
    };
  },

  methods: {
    getCountry: function (pais) {
      window.axios
        .get("/country/search", { params: { name: pais } })
        .then((res) => {
          this.countries = res.data;
        })
        .catch((error) => {
          console.log(error.response);
        });
    },

    /* getCountry(pais) {
      window.axios
        .get("/country/search", { params: { name: pais } })
        .then((res) => {
          this.countries = res.data;
        })
        .catch((error) => {
          console.log(error.response);
        });
    }, */

    handleSearch: _.debounce(function () {
      this.getCountry(this.search);
      console.log("buscando");
    }, 500),
  },
};
</script>

<style>
</style>