/* FOOTER */

li
{
  list-style-type: none;
  padding-left: 1vw;  
}

li:first-child
{
  margin:0;
}
.content
{
  height: 50vh;
}

footer
{
  padding-top: 5vh;
  padding-bottom: 2vh;
}



.footer-ema{
    
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.media-ema{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.copyright  
{
  text-align: left;
}
.impressum{
    text-align: right;
}

.logo
{
  height: 5vh;
}

.sozial{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}


