
/* MODAL CREAR CLIENTES */

  
.modal-footer-ema{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
  }

  .modal-header{
      justify-content: center;
  }